[submodule "lib_foreign_sources/poco"]
	path = lib_foreign_sources/poco
	url = https://github.com/jiteman/jmsd_foreign_poco.git
[submodule "lib_foreign_sources/eastl"]
	path = lib_foreign_sources/eastl
	url = https://github.com/jiteman/jmsd_foreign_eastl.git
[submodule "lib_foreign_sources/jmsd_foreign_catch_2"]
	path = lib_foreign_sources/jmsd_foreign_catch_2
	url = https://github.com/jiteman/jmsd_foreign_catch_2.git
