[submodule "lib_foreign_sources/poco"]
	path = lib_foreign_sources/poco
	url = https://github.com/jiteman/jmsd_foreign_poco.git
[submodule "lib_foreign_sources/eastl"]
	path = lib_foreign_sources/eastl
	url = https://github.com/jiteman/jmsd_foreign_eastl.git
[submodule "lib_foreign_sources/catch2"]
	path = lib_foreign_sources/catch2
	url = https://github.com/jiteman/jmsd_foreign_catch_2.git
[submodule "lib_foreign_sources/cppunit"]
	path = lib_foreign_sources/cppunit
	url = https://github.com/jiteman/jmsd_foreign_cppunit.git
[submodule "lib_foreign_sources/google_test_and_mock"]
	path = lib_foreign_sources/google_test_and_mock
	url = https://github.com/jiteman/jmsd_foreign_googletest.git
[submodule "lib_foreign_sources/cppunitlite"]
	path = lib_foreign_sources/cppunitlite
	url = https://github.com/jiteman/jmsd_foreign_cppunitlite.git
